@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.link:hover{
    color: #ff5252;
}